<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div style="text-align:left">
            <a href="{% url 'cbv_todo_list' %}">🏠 홈으로</a>
        </div>
        <div style="text-align:right">
            {% if user.is_authenticated %}
                {{ user.username }}<br>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'user_login' %}">로그인</a>
                <a href="{% url 'user_signup' %}">회원가입</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}

</body>
</html>
