{% extends 'registration/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="w-50">
        <form method="POST">
            <h2 class="mb-4">Login</h2>
            {% csrf_token %}
                {% for field in form %}
                <div class="form-group row mb-3">
                    <label class="form-label col-md-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="col-md-10 mb-2">
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <p>
                아직 회원이 아니라면 회원가입을 진행해주세요.
                <a href='{% url 'cbv_signup' %}'>회원가입</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}