{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{ todo.title }}</h1>
    <table>
        <tr><th>설명</th><td>{{ todo.description }}</td></tr>
        <tr><th>시작일</th><td>{{ todo.start_date }}</td></tr>
        <tr><th>종료일</th><td>{{ todo.end_date }}</td></tr>
        <tr><th>완료 여부</th><td>{{ todo.is_completed }}</td></tr>
    </table>
        <div style="margin-top: 20px;">
        <a href="{% url 'cbv_todo_update' todo.id %}">
            <button>수정</button>
        </a><br>

        <form method="POST" action="{% url 'cbv_todo_delete' todo.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
        </form>
    </div>
    </div>
{% endblock %}