<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER LIST</title>
</head>
<body>
    <nav>
        <div style="text-align:right">
            {% if user.is_authenticated %}
                {{ user.username }}<br>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'user_login' %}">로그인</a>
                <a href="{% url 'user_signup' %}">회원가입</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>Todo LIST</h1>
        <ul>
            {% for todo in data %}
                <li><a href="{% url 'todo_info' todo.id %}">{{ todo.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>