{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Todo LIST</h1>
        <a href="{% url 'cbv_todo_create' %}">➕ 새 할 일 추가</a>
        <ul>
            {% for todo in page_obj %}
                <li><a href="{% url 'cbv_todo_info' todo.id %}">{{ todo.title }}</a></li>
            {% empty %}
                <li>할 일이 없습니다.</li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% endif %}

                <span class="current">
                    페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">다음</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">끝 &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}